@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";


.p-dtn {
    display: block;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;
    left: 50%;
    height: 50%;
    z-index: 10;
    background-color:$color-green;

    .MD-ACT & {
      visibility: visible;
      opacity: 1;
    }
}

.modal {

  &-mask {
    visibility: hidden;
    opacity: 0;

    &.popup {
      visibility: visible;
      opacity: 1;
    }
  }

  &-body {
    margin: 20px 0;

    .it-img {
      width: 250px;
      margin: 0 auto;
      display: block;
    }
  }

  &-default-button {
    float: right;
    position: fixed;
    top: 0;
  }


}
